* {
    padding: 0;
    margin: 0;
    border: 0;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body,
#table-of-contents {
    background-color: #0c191c;
    color: #eeeeec;
}

body {
    font-family: "DejaVu Sans", sans-serif;
    padding-left: 10px;
}

code {
    padding: 1px 3px;
    border-radius: 5px;
    margin: 0 2px;
    white-space: nowrap;
}

code, pre {
    font-family: "DejaVu Sans Mono", mono;
    background-color: #252a2b;
    color: #eeeeec;
}

h1 {
    border-bottom: 2px solid #839496;
}

h1, h2, h3, h4, h5, h6 {
    margin: 20px 0;
}

h1.title {
    border-bottom: none;
}

h2 {
    border-bottom: 2px dotted #839496;
}

h3 {
    border-bottom: 2px dashed #839496;
}

h4 {
    border-bottom: 1px solid #839496;
}

h5 {
    border-bottom: 1px dotted #839496;
}

h6 {
    border-bottom: 1px dashed #839496;
}

ul, ol {
    margin: 20px;
}

ul ul,
ol ol,
dd {
    margin: 5px 20px;
}

p {
    margin: 20px 0;
}

pre {
    margin: 20px 0 20px 40px;
    border-radius: 10px;
    padding: 5px;
}

#content {
    width: 750px;
    margin: 0 auto;
}

.dlmenu {
    text-align: center;
}

.title {
    text-align: center;
}

#postamble {
    margin-top: 40px;
}

#org-div-home-and-up a {
    text-decoration: none;
    margin: 10px;
}

#table-of-contents {
    position: fixed;
    top: 16px;
    right: 0;
    overflow: auto;
    max-height: 80%;
}

#table-of-contents h2 {
    font-size: medium;
    margin-top: 0;
}

#table-of-contents:hover #text-table-of-contents {
    display: block;
}

#text-table-of-contents {
    display: none;
}

/* Org font-locking */
.src {
    background-color: #252a2b;
    color: #eeeeec;
    overflow: auto;
}

.org-keyword {
    font-weight: bold;
    color: #729fcf;
}

.org-string {
    color: #ad7fa8;
}

.org-function-name {
    font-weight: bold;
    color: #edd400;
}

.org-doc {
    color: #babdb6;
}

.org-constant {
    color: #73d216;
}

.org-type {
    color: #73d216;
    font-weight: bold;
}

.org-regexp-grouping-backslash {
    font-weight: bold;
}

.org-regexp-grouping-construct {
    font-weight: bold;
}

.org-builtin {
    color: #729fcf;
}

.org-negation-char {
}

.org-variable-name {
    color: #ef2929;
}

/* Navigation menu */
#content > ul:first-of-type {
    margin: 0;
    text-align: center;
}

#content > ul:first-of-type li {
    display: inline;
}

#content > ul:first-of-type li:before {
    content: "[ "
}

#content > ul:first-of-type li:after {
    content: " ]"
}
